
$white-primary: #FFFFFF;
$black-primary: #000000;

$violet-darken: #24173D;

$patch-separator-color: #FFD15C;
$separator-color: #3B393C;
$container-border-color: #030303;
$license-color: #4A4A4A;

$gray-light: #EEEAF4;
$gray-darken: #E6E5EA;

$orange-primary: #FFC633;
$orange-secondary: #FAC86E;

